h5 {
  padding: 6px;
  margin: 0px;
}
.rc-table-content table {
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-family: monospace
}
.rc-table-content table thead {
  background-color: #ccc;
}
.rc-table-content table thead th {
  min-width: 300px;
}